
@{
    Layout = null;
}

<h1>Add Cheese</h1>
<form method="post" >
    <label>Name of the cheese:</label>
    <div>
    <input name="name" type ="text"/>
    </div>
    <label>Add a Description</label>
    <div>
    <textarea rows='8'name="description"></textarea>
    </div>
    <input type = "submit" value ="Add Cheese" />
</form>
