
@{
    Layout = null;
  
   
}
<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>
<p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p> 

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!!</p>
}



     @foreach(KeyValuePair<string,string> cheese in ViewBag.cheeses)
    {
        <div>
        <h1>
            @cheese.Key

            
        </h1>
        <p>
             @cheese.Value
        </p>
          



        </div>

       
       
     





    }
   

    



