

<h1>Remove a cheese</h1>
<form method="post">
@foreach(var cheese in ViewBag.cheeses)
{
    <input type ="checkbox" name="CheeseIds" id="@cheese.CheeseId " value=" @cheese.CheeseId"/>
    <label for="@cheese.CheeseId">@cheese.Name</label>
}
       
     <input type = "submit" value ="Remove Cheese" />
</form>

