
@{
    Layout = null;
}

<h1>Remove a cheese</h1>
<form method="post">
<select name="removeChesse">
    <option value="swiss">Swiss</option>
    <option value="cheddar">Cheddar</option>
    <option value="provolone">Provolone</option>
    <option value="mozarella">Mozarella</option>
</select>
     <input type = "submit" value ="Remove Cheese" />
</form>
